In [289]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [293]:
#create a df

df_test = pd.DataFrame()

In [295]:
#create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [303]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [305]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type)!= df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/2199985094.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type)!= df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [307]:
df_test['mix'] = df_test['mix'].astype('str')

In [315]:
# Import products table
path = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/03 Scripts/products.csv'

In [317]:
df_prods = pd.read_csv(os.path.join(path), index_col = False)

In [355]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [321]:
#Finding Missing Values

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [323]:
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [325]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [361]:
df_prods.shape

(49693, 5)

In [357]:
#cleaning data
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [359]:
df_prods_clean.shape

(49677, 5)

In [369]:
#look for full duplicates within your dataframe:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [371]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [373]:
df_prods_clean.shape

(49677, 5)

In [375]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [377]:
df_prods_clean_no_dups.shape

(49672, 5)

In [379]:
#Task 4.5 Insert orders table
path = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/03 Scripts/orders.csv'

In [381]:
df_ords = pd.read_csv(os.path.join(path), index_col = False)

In [455]:
#Run the describe function on your ords dataframe
#days of the week a refine, as they should be from 0 to 6, days since proir order olso fine from 0 to 3
#order hour of the day should be from 0 to 23, as there are 24 hours
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.044488e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.308727e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [487]:
#Check for mixed-type data in your df_ords dataframe

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_29134/976127261.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [509]:
#check for missing values in your df_ords dataframe
#days_since_prior_order - have a big number of missing values. firstly because of such a big number I wouldnt delete the rows. 
#But I would just leave them as they are or replace reate a new variable that acts like a flag based on the missing value
df_ords.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [491]:
#Run a check for duplicate values in your df_ords data.
# I do not see duplicates 
df_ords_dups = df_ords_clean[df_ords_clean.duplicated()]

In [503]:
#cleaning data
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [507]:
df_ords_clean.shape

(3421083, 7)

In [505]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [495]:
# There are no duplicates/ is it ok?

In [497]:
#Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them 
#appropriate, succinct names.

path_prepared_data = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/02 Data/Prepared Data'

In [499]:
df_prods_clean.to_csv(os.path.join(path_prepared_data,'df_prods_clean-280924.csv'))

In [501]:
df_ords_clean.to_csv(os.path.join(path_prepared_data,'df_prods_ords-280924.csv'))