In [13]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [15]:
# Import  orders_products_combined dataframe
path_orders_products_combined = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl'

In [17]:
df_orders_products_combined = pd.read_pickle(os.path.join(path_orders_products_combined))

In [19]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [21]:
#Check the shape of the imported dataframe
df_orders_products_combined.shape

(32434489, 11)

In [33]:
# Import  df_prods_clean-280924 dataframe
path_df_prods_clean = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/02 Data/Prepared Data/df_prods_clean-280924.csv'

In [39]:
df_prods_clean = pd.read_csv(os.path.join(path_df_prods_clean), index_col = False)

In [41]:
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [49]:
#merge 
df_ords_prods_merge = df_prods_clean.merge(df_orders_products_combined, on = 'product_id', indicator = False)

In [50]:
df_ords_prods_merge

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32406036,49692,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.0,27,0,both
32406037,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,prior,1,4,11,NaN,5,0,both
32406038,49692,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.0,12,0,both
32406039,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.0,11,1,both
32406040,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.0,35,0,both

In [53]:
#Export the merged file in pickle format as ords_prods_merge_new_variable.pkl

path_prepared_data = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/02 Data/Prepared Data'

In [55]:
df_ords_prods_merge.to_pickle(os.path.join(path_prepared_data, 'ords_prods_merge.pkl'))